#  My Jupyter Notebook on IBM Watson Studio

**Stanley Okparaji**

Data Scientist

 _I am interest in data science because as a mathematician I can apply so many of the knowledge I have in mathematics to analysing datas, and also as it is a field that requires continues learning I enjoy that_

### Python program to display all the prime numbers within an interval

In [5]:
lower = 50
upper = 200

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 50 and 200 are:
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

- apple
- bean
- cake
- bread
- meat
- chicken
****

s/n| Name | Age
--- | --- | ---
1| **John** | 20
2| **Favour** | 25
3| **Stanley** | 27
****

[Twitter page](https://twitter.com )